@import './styles/variables';
@import './styles/mixins';
@import './styles/typography';

// CSS Reset and Base Styles
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $font-primary, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: $font-size-base;
  line-height: $line-height-normal;
  color: $text-primary;
  background-color: $bg-primary;
  overflow-x: hidden;
}

// Typography defaults
h1, h2, h3, h4, h5, h6 {
  font-weight: $font-weight-bold;
  line-height: $line-height-tight;
}

p {
  line-height: $line-height-normal;
}

a {
  color: inherit;
  text-decoration: none;
  @include transition(opacity);

  &:hover {
    opacity: 0.8;
  }
}

button {
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
  @include transition;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

// Utility classes
.container {
  @include container;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}
