@import './styles/variables';
@import './styles/mixins';

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $bg-primary;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
